<%= image_tag('plane-background.jpg', id:'background-img')%>
<div id='header'>
    <p id='title'>Flight Booker</p>
</div>
<% flight = Flight.find(params[:flight_id])%>
<div id="booking-result">
    <div id="result-titles">
        <p id='titles-1'>From</p>
        <p id='titles-2'>To</p>
        <p id='titles-3'>Date</p>
    </div>
    <div id="booking-result-item">
        <div id='result-info'>
            <p id='info-1'><%= flight.departure_airport.name %></p>
            <p id='info-2'><%= flight.arrival_airport.name %></p>
            <p id='info-3'><%= flight.date.strftime('%F') %></p>
        </div>
    </div>
</div>

<p id='bookings-title'>Passenger information</p>
<div data-controller='passengers' id='form-passengers'>
    <%= form_with model: @booking , id:'bookings-form', method: :post do |f| %>
        <%= f.hidden_field(:tickets, :value => params[:tickets])%>
        <%= f.hidden_field(:flight_id, :value => params[:flight_id]) %>
        <%= f.fields_for :passengers do |passenger_form| %>
            <div id='booking-field' data-passengers-target = 'output'>
                <%= passenger_form.text_field(:name, placeholder:'Name') %>
                <%= passenger_form.email_field(:email, placeholder:'Email') %>
                <button id='remove' data-action='passengers#remove' type='button'>Remove</button>
            </div>
            <template id='new-booking'>
                <div id='booking-field' data-passengers-target = 'output'>
                    <%= passenger_form.text_field(:name, placeholder:'Name') %>
                    <%= passenger_form.email_field(:email, placeholder:'Email') %>
                    <button id='remove' data-action='passengers#remove' type='button'>Remove</button>
                </div>
            </template>
        <% end %>
        <div id='buttons'>
            <%= button_tag('Add passenger', type: 'button', 'data-action' => 'passengers#add') %>
            <%= f.submit 'Confirm Booking'%>
        </div>
    <% end %>
</div>